.price {
    display: flex;
    flex-direction: column;
    // gap: .5rem;

    // p {
    //     margin-bottom: 0;
    // }
  
    .previous-price {
      text-decoration: line-through;
      color: #939393;
    }
  
    .current-price {
      font-weight: bold;
    }
}