* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  .buttons {
    display: flex;
    gap: 1rem;
    font-size: 2rem;

    i {
      cursor: pointer;
    }
  }

  .search {
    // display: flex;
    width: 50%;
  }
}

.navbar-expand-sm {
  // padding: 0 1rem !important;

  .container-fluid {
    padding: 0;

    .navbar-toggler {
      padding: 0 .5rem;
      border: none;
    }
  }
}

.card {
  &:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, .8);
    cursor: pointer;
  }
}

.nav-link {
  text-align: center;
}

.slider-container {
  // border-radius: 1rem;
}

.carousel-item {

  img {
    height: 500px;
    object-fit: cover;
    // border-radius: 1rem;

  }
}

.cards-container {

  .card {
    // width: 400px;

    img {
      height: 200px;
      object-fit: cover;
    }
  }
}

.nav-item a {
  font-size: 1.2rem;
}

.price {
  display: flex;
  gap: .5rem;

  .previous-price {
    text-decoration: line-through;
  }

  .current-price {
    font-weight: bold;
  }
}

.header-wrapper {
  .navbar {
    display: none;
  }
}

.navbar-wrapper {
  .search {
    display: none;
    padding: 1rem 0;
  }
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

h1 {
  margin-bottom: 0 !important;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

@media (max-width: 576px) {
  .header-wrapper {
    .search {
      display: none;
    }

    .navbar {
      display: block;
    }
  }

  .logo {
    display: none;
  }

  .navbar-wrapper {
    .navbar {
      display: none;
    }

    .search {
      display: block;
    }
  }

  .cards-container {

    .card {
      img {
        height: 150px;
        object-fit: cover;
      }
    }
  }

  .carousel-item {

    img {
      height: 350px;
      object-fit: cover;
      // border-radius: 1rem;
  
    }
  }
}