* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .header {
//   .logo {
//     .navbar {
//       display: none;
//     }
//   }
// }

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 16rem;

  .buttons {
    display: flex;
    gap: 1rem;
    font-size: 2rem;

    i {
      cursor: pointer;
    }
  }

  .search {
    // display: flex;
    width: 50%;
  }
}

.navbar-wrapper {
  margin: 0 16rem;
}

.navbar-expand-sm {

  .container-fluid {
    justify-content: center !important;
  }
}

.nav-link {
  text-align: center;
}

.slider-container {
  margin: 0 16rem;
  border-radius: 1rem;
}

.carousel-item {

  img {
    height: 500px;
    object-fit: cover;
    border-radius: 1rem;

  }
}

.cards-container {
  display: flex;
  margin: 0 16rem;
  gap: 2rem;
  justify-content: space-between;

  .card {
    // width: 400px;

    img {
      height: 300px;
      object-fit: cover;
    }
  }
}

.info {
  display: flex;
  margin: 0 16rem;
}

.nav-item a {
  font-size: 1.2rem;
}

.price {
  display: flex;
  gap: .5rem;

  .previous-price {
    text-decoration: line-through;
  }

  .current-price {
    font-weight: bold;
  }
}