.featured-image {
    width: 100%;
    object-fit: cover;
}

.featured-link {
    position: relative;
    height: 100%;
}

.featured-text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}